.rules-ul {
    text-align: justify;
    width: 20%;
}

.hidden {
    display: none;
}

.btn {
    margin-left: 100%;
}

h1 {
    margin-top: 5%;
}

h2 {
    font-size: x-large;
}

h5 {
    margin-top: 5%;
    text-align: start;
}

h6 {
    margin-top: 2%;
    padding: 2%
}
